body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cdn.domestika.org/c_fill,dpr_auto,f_auto,q_auto,w_820/v1572963035/content-items/003/386/040/Rick_morty_02_fondo_Mesa_de_trabajo_1-original.jpg?1572963035");
  /* background-size: cover; */
  

  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
